body{
    margin: 0;
}
.container{
    width: 1320px;
}
.navigation{
    width: 100%;
}
.ulrow{
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
.logo{
    float: left;
}
.navlink{
    margin-left: 25%;
}
