body{
    margin: 0;
}
.container{
    width: 1320px;
    justify-content: center;
    display: flex;
}
.navigation{
    width: 100%;
}
.ulrow{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.justifycontent{
    justify-content: center;
    display: flex;
}


   

