body{
    margin: 0;
    background-color: wheat;
}
@font-face {
    font-family: 'titlefont';
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'pfont';
    src: url(../fonts/Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Bold.ttf);
}
@media
.container{
    width: 1320px;
}
.container{
    width: 1320px;
}
.logo{
    font-family: 'titlefont';
    font-weight: bolder;
}
.logo:hover{
    color: aqua;
    opacity: 1;
}
.navlink{ 
    font-family: 'titlefont';
    font-weight: bolder;
}
.navlink:hover{ 
    color: burlywood;
    opacity: 1;
    font-family: 'titlefont';
    font-weight: bolder;
}

.navigation{
    width: 100%;
    justify-content: center;
}
.ulrow{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.justifycontent{
    justify-content: center;
    display: flex;
}
 
.backgroundimg{
    width: 1320px;
    height: 550px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
.H1{
    font-family: 'titlefont';

}

p{
    width: 50%;
    font-family: 'pfont';
    color:black;
    font-size: large;
}
.justifycontent1{
    justify-content: center;
    display: flex;
}
.container1{
    width: 1320px;
}
.mt5{
    margin-top: 5%;
}
.ml15{
    margin-left: 15%;
}
.height{
    justify-content: center;
}
.section1{
    width: 1320px;
    justify-content: center;
    display: flex;
}
.justifycontent2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px 70px 40px;
}
.tbl{
    border: solid black;
    width: 50%;
}
.animationdiv{
    width: 50%;
}
tr:nth-child(even) {
    background-color:violet;
}
.box1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: violet;
    position: relative;
    animation: move 3s infinite;
}
@keyframes move{
    from{left: 0;}
    to{left: 400px;}
}
.box2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: violet;
    opacity: 0.8;
    position: relative;
    animation: move 5s infinite;
}
@keyframes move{
    from{left: 0;}
    to{left: 400px;}
}  

.box3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: violet;
    opacity: 0.6;
    position: relative;
    animation: move 7s infinite;
}
@keyframes move{
    from{left: 0;}
    to{left: 400px;}
} 
.contact{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 20px 80px 20px ;
}
.contactdiv{
    font-family: 'titlefont';
}
.ftr{
    justify-content: center;
    display: flex;
}
.ftdiv{
    width: 1320px;
    justify-content:space-around;
}
.textall{
    text-align: center;
}